@font-face {
    font-family: 'myfont';
    src: url('ZenKurenaido-Regular.ttf');
}
*{
    margin: 0px;
    padding: 0px;
    font-family: myfont;
    user-select: none;
}

.home{
    display: flex;
    flex-direction: column;
    align-items: start;
    background-image: linear-gradient(rgba(0,0,0,0) ,rgba(0,0,0,0)) ,url("icons/back.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position:center;
}

/*.Left{*/
/*    display: flex;*/
/*    align-items: start;*/
/*    flex-direction: column;*/
/*    justify-content:start ;*/
/*    padding-top: 100px;*/
/*    width: 45vw;*/
/*}*/
.Left1 {
margin-left: 340px;
   margin-bottom: 200px;
}
.UnseenBaby{


}
.larger{
    justify-content: center;
    width: 90vw;
    height: 80vh;
}
.tit{
    font-size: 40px;
    color: white;
    margin-right: 20px;

}

.left1_p {
    font-size: 18px;
    color: white;
    margin-top: 20px;

}

.img{
    width: 170px;
    height: 45px;
    display: inline-block;
    margin: 15px;
    background-image: url("icons/logohome.png");
    background-repeat: no-repeat;
}


.Right h1{
    color: white;
    font-size: 34px;
    line-height: 48px;
    font-weight: 700;
    margin-top: 0px;
    padding: 0px;
    margin: 0.67em 0;
    display: block;
    margin-bottom: 20px;
}
.Right1{
    width: 425px;
    padding-bottom: 10px;

}

.lab_right1{

    -webkit-box-align: center;
    border: 2px solid transparent;
    display: inline-flex;
    background-color: rgb(30, 30, 30);
    cursor: pointer;
    align-items: flex-start;
    height: 150px;
    overflow: hidden;
    width: 100%;
    margin-top: 10px;
    transition: 0.5s;
}

.hovrde_boy{
    height: 170px;
}
.hovrde_boy::after{
    content: '';
    height: 3px;
    width: 0;
    background: rgb(251,91,33);
    position: relative;
    display: inline-block;
    transition: 0.5s;
    top: -20px;
}
.hovrde_boy:hover::after{
    width: 430px;
}


.lab_right1:hover{
    background-color: rgb(50,50,50);
    transition: 0.5s;

}
.LW{
    display: none;
    width: 1em;
    height: 1em;
    opacity: 0;
    overflow: visible;
    outline: none;
    background-color: initial;
    cursor: default;
    appearance: auto;

}
.span1{
    -webkit-box-pack: center;
    justify-content: center;
    display: flex;
    flex: 1 1 0%;
    flex-flow: column;
    padding-right: 16px;
    width: 100%;

}
.span11{
    font-size: 22px;
    line-height: 30px;
    margin-left: 10px;
    color: rgb(255, 255, 255);

}
.span111{
    color: rgb(179, 179, 179);
    padding-top: 8px;
    padding-left: 11px;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    font-family: myfont;
}


.IMG1span{
    align-self: flex-start;
    margin-left: auto;
    margin-top: -14px;
    min-width: 120px;
    width: 120px;
}
.Birth_Date_Container{
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;

}
@keyframes back{
    100%{
        background-position: 2000px 0;
    }
}
.BD_data{

}
.P {
    display: flex;
    color: rgb(255, 255, 255);
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 3px;
}
.DAY{
    display: flex;
    flex-flow: column;
    color: white;
    opacity: 1;
    width: calc(50% - 150px);
    padding-right: 14px;
}
.DD{
    display: flex;
    flex-flow: column;
    position: relative;
    width: 100%;
}
.DayD{
    background-color: rgb(30, 30, 30);
    border: 1px solid rgb(117, 117, 117);
    color: rgb(255, 255, 255);
    font-size: 18px;
    line-height: 1.5;
    padding: 0px 11px;
    height: 56px;

}
.Month{
    color: rgb(255,255,255);
    background-color: rgb(30, 30, 30);
    border: 1px solid rgb(117, 117, 117);
    font-size: 18px;
    height: 56px;
    text-align: left;
    width: 100%;
    cursor: pointer;

}
.Year{
    display: flex;
    flex-flow: column;
    opacity: 1;
    width: calc(50% - 150px);
}
.Year span{
    color: rgb(255, 255, 255);
    display: flex;
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 3px;
}
.YY{
    display: flex;
    flex-flow: column;
    position: relative;
    width: 100%;
}
.YearD{
    background-color: rgb(30, 30, 30);
    border: 1px solid rgb(117, 117, 117);
    color: rgb(255, 255, 255);
    font-size: 18px;
    line-height: 1.5;
    padding: 0px 11px;
    height: 56px;
}
.continue{
    background-color: transparent;
    -webkit-box-pack: end;

    padding: 0px;
    position: static;
    border: none;
    display: flex;
    width: 100%;
}
.Continue_B{
    width: 130px;
    display: inline-flex;
    box-sizing: border-box;
    cursor: pointer;
    outline: none;
    border: none;
    padding: 15px;
    -webkit-box-align: center;
    align-items: center;
    background: rgb(251,91,33);
    margin-left: 320px;
}
.Continue_B:hover{
    background: #d35a21;
}
.Continue_B p{
    font-family: myfont;
    font-style: normal;
    font-weight: 600;
    font-size: 19px;
    line-height: 24px;
    color: rgb(255, 255, 255);
    width: 100%;
    text-align: left;
    padding-left: 14px;
}

.Birth_Date_Text{
    margin: 40px 40px 40px 0px;
    color: white;
}
.BD{
    margin-bottom: 40px;
    width: 100%;
    display: flex;
    flex-flow: column;

}
.Birth_Date{

}
.Birth_Date_CON{
    display: flex;
    flex-flow: row wrap;
    margin: 0px auto;
    width: 100%;
    max-width: 520px;
}


.img-span1{
    box-sizing: border-box;
    display: inline-block;
    overflow: hidden;
    width: initial;
    height: initial;
    background: none;
    opacity: 1;
    border: 0px;
    margin: 0px;
    padding: 0px;
    position: relative;
    max-width: 100%;
}
.img-span1 span{
    box-sizing: border-box;
    display: block;
    width: initial;
    height: initial;
    background: none;
    opacity: 1;
    border: 0px;
    margin: 0px;
    padding: 0px;
    max-width: 100%;
}

.img-span1 span img{
    display: block;
    max-width: 100%;
    width: initial;
    height: initial;
    background: none;
    opacity: 1;
    border: 0px;
    margin: 0px;
    padding: 0px;
}
.prog_Bar{
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    height: 24px;
    width: 100vw;

}
.Return{
    background-color: rgb(57, 57, 57);
    height: 28px;
    margin-right: 8px;
    min-width: 24px;
    position: relative;
    width: 28px;
    cursor: pointer;
}
.view_box{
    height: 24px;
    min-width: 24px;
    width: 24px;
    overflow: hidden;
    vertical-align: middle;
}
.range_text{
    background-color: rgb(57, 57, 57);
    display: flex;
    height: 4px;
    position: relative;
    width: 94%;

}
.range_text::before{
    background-color: rgb(251,91,33);
    content: "";
    height: 4px;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 8.5454%;

}
.iterations{
    color: rgb(200, 200, 200);
    font-family: myfont;
    font-size: 15px;
}


.Chose_body{
    align-items: center;
    display: flex;
    height: 700px ;
}


.Chose_body_text{
   top: 0px;
    width: 100%;

}
.Chose_body_text p{
    margin-top: 10px;
    margin-bottom: 15px;
    font-family: myfont ;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: rgb(255, 255, 255);
}
.Chose_body_text h1{
    font-family: myfont;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    color: rgb(255, 255, 255);
    list-style-position: inside;
}



.Name_User{
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    min-height: calc(973px - 120px);
}
.Name{
    align-items: flex-start;
    display: flex;
    padding: 0px 24px 88px;
    width: 100%;
}
.Name_Container{
    display: flex;
    flex-flow: row wrap;
    margin: 0px auto;
    width: 100%;
    max-width: 424px;

}

.Name_User_text{
    margin-bottom: 40px;
    display: flex;
    flex-flow: column;
    width: 100%;
}
.Name_User_text h1{
    font-family: myfont;
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 40px;
    color: rgb(255, 255, 255);
    list-style-position: inside;
}

.Name_User_info{
    margin-bottom: 40px;
    width: 100%;
    display: flex;
    flex-flow: column;
}
.NU_Con{
    display: flex;
    flex-flow: column;
    opacity: 1;
    width: 100%;
    cursor: default;
}

.NU_span1{
    color: rgb(255, 255, 255);
    display: flex;
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 3px;
}
.NU_Span2{
    display: flex;
    flex-flow: column;
    position: relative;
    width: 100%;
}
.Name_text{
    background-color: rgb(30, 30, 30);
    border: 1px solid rgb(117, 117, 117);
    color: rgb(255, 255, 255);
    font-size: 18px;
    line-height: 1.5;
    padding: 0px 11px;
    height: 50px;

}
.Continue_N1{
    width: 130px;
    height: 50px;
    font-size: 20px;
    background: rgb(251,91,33);
}
.Continue_N1:hover{
    background: #d35a21;
}
.Continue_N1 p{
    font-family: myfont;
    font-style: normal;
    font-weight: 600;
    font-size: 19px;
    line-height: 24px;
    color: rgb(255, 255, 255);
    width: 100%;
    text-align: left;
    padding-left: 14px;
}
.Name_text:hover{
    background-color: rgb(45, 45, 45);
}
.NTS{
    color: rgb(117, 117, 117);
    font-size: 20px;
    line-height: 1.5;
    left: 12px;
    position: absolute;
    top: 15px;
    cursor: text;
    pointer-events: none;
}
.NTS span{
    color: rgb(117, 117, 117);
    font-size: 20px;
    line-height: 1.5;
    left: 12px;
    cursor: text;
    pointer-events: none;
}

.Height_Weight{
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    min-height: 853px;
}
.Height_Weight_Container{
    align-items: flex-start;
    display: flex;
    padding: 0px 24px 88px;
    width: 100%;

}
.Height_Weight_Con{
    display: flex;
    flex-flow: row wrap;
    margin: 0px auto;
    width: 100%;
    max-width: 424px;
}
.H_W_Header{
    display: flex;
    flex-flow: column;
    margin-bottom: 40px;
    width: 100%;
}
.H_W_P{
    font-family: myfont;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: rgb(255, 255, 255);
    margin-bottom: 12px;
}
.H_W_Header h1{
    font-family: myfont;
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 40px;
    color: rgb(255, 255, 255);
}

.H_W_Option_Con{
    margin-bottom: 40px;
    width: 100%;
    display: flex;
    flex-flow: column;
}

.H_W_Option{
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    width: 100%;
}
.Option{
    border-top-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
    flex: 1 1 0%;
    height: 40px;
    -webkit-box-pack: center;
    justify-content: center;
    padding: 0px 8px;
    white-space: nowrap;
}
.imperial{
    -webkit-box-align: center;
    align-items: center;
    border: 2px solid transparent;
    display: inline-flex;
    background-color: rgb(30, 30, 30);
    cursor: pointer;
}
.Op_imp{
    display: none;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    outline: none;
}
.OP_span{
    font-family: myfont;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: rgb(255, 255, 255);
}
.metric{
    -webkit-box-align: center;
    align-items: center;
    border-bottom: 2px solid rgb(251,91,33);
    display: inline-flex;
    background-color: rgb(30, 30, 30);
    cursor: pointer;
}
.metric:hover{
    background-color: rgb(45,45,45);
}
.imperial:hover{
    background-color: rgb(45,45,45);
}
.Height_Con{
    margin-bottom: 40px;
    width: 100%;
    display: flex;
    flex-flow: column;
}
.Con_Height{
    display: flex;
    flex-flow: column;
    opacity: 1;
    width: 100%;
}

.Height_Con_text{
    color: rgb(255, 255, 255);
    display: flex;
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 3px;
}
.Height_text{
    display: flex;
    flex-flow: column;
    position: relative;
    width: 100%;
}
.Current_Height{
    background-color: rgb(30, 30, 30);
    border: 1px solid rgb(117, 117, 117);
    color: rgb(255, 255, 255);
    font-size: 18px;
    line-height: 1.5;
    padding: 0px 11px;
    height: 56px;
}
.Current_Height:hover{
    background-color: rgb(45,45,45);
}

.Weight_Con{
    margin-bottom: 40px;
    width: 100%;
    display: flex;
    flex-flow: column;
}
.Con_Weight{
    display: flex;
    flex-flow: column;
    opacity: 1;
    width: 100%;
}
.Weight_Con_text{
    color: rgb(255, 255, 255);
    display: flex;
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 3px;
}
.Weight_text{
    display: flex;
    flex-flow: column;
    position: relative;
    width: 100%;
}
.Current_Weight{
    background-color: rgb(30, 30, 30);
    border: 1px solid rgb(117, 117, 117);
    color: rgb(255, 255, 255);
    font-size: 18px;
    line-height: 1.5;
    padding: 0px 11px;
    height: 56px;
}
.Current_Weight:hover{
    background-color: rgb(45,45,45);
}
.Height_FT_Con{
    margin-bottom: 40px;
    width: 100%;
    display: inline-flex;
    max-width: 47%;
    padding-left: 0px;
    padding-right: 12px;
}
.Con_HFT{
    display: flex;
    flex-flow: column;
    opacity: 1;
    width: 100%;
}
.HFT_Con_text{
    color: rgb(255, 255, 255);
    display: flex;
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 3px;
}
.HFT_text{
    display: flex;
    flex-flow: column;
    position: relative;
    width: 100%;
}
.Current_Height_FT{
    background-color: rgb(30, 30, 30);
    border: 1px solid rgb(117, 117, 117);
    color: rgb(255, 255, 255);
    font-size: 18px;
    line-height: 1.5;
    padding: 0px 11px;
    height: 56px;
}
.Current_Height_FT:hover{
    background-color: rgb(45,45,45);
}
.Height_IN_Con{
    margin-bottom: 40px;
    width: 100%;
    display: inline-flex;
    max-width: 47%;
    padding-left: 12px;
    padding-right: 0px;
}
.Con_HIN{
    display: flex;
    flex-flow: column;
    opacity: 1;
    width: 100%;
}
.HIN_Con_text{
    color: rgb(255, 255, 255);
    display: flex;
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 3px;
}
.HIN_text{
    display: flex;
    flex-flow: column;
    position: relative;
    width: 100%;
}
.Current_Height_IN{
    background-color: rgb(30, 30, 30);
    border: 1px solid rgb(117, 117, 117);
    color: rgb(255, 255, 255);
    font-size: 18px;
    line-height: 1.5;
    padding: 0px 11px;
    height: 56px;
}
.Current_Height_IN:hover{
    background-color: rgb(45,45,45);
}

.Target-weight{
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    min-height: calc(100vh - 120px);
}
.TW_Con{
    align-items: flex-start;
    display: flex;
    padding: 0px 24px 88px;
    width: 100%;
}
.Con_TW{
    display: flex;
    flex-flow: row wrap;
    margin: 0px auto;
    width: 100%;
    max-width: 424px;
}
.Level_Fitness{
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    min-height: calc(100vh - 120px);
}
.Level_Fitness_Con{
    align-items: flex-start;
    display: flex;
    padding: 0px 24px 88px;
    width: 100%;
}
.Con_Level_F{
    display: flex;
    flex-flow: row wrap;
    margin: 0px auto;
    width: 100%;
    max-width: 424px;
}

.LF_text{
    display: flex;
    flex-flow: column;
    margin-bottom: 40px;
    width: 100%;
}
.LF_text p{
    font-family: myfont;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 22px;
    color: rgb(255, 255, 255);
}
.LF_text h1{
    font-family: myfont;
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 40px;
    color: rgb(255, 255, 255);
    margin-top: 12px;
}

.LF_Ranger{
    margin-bottom: 40px;
    width: 100%;
    display: flex;
    flex-flow: column;
}
.LF_Ranger_Con{
    display: flex;
    flex-direction: row;
    position: relative;
    background: transparent;
    width: 100%;
// padding: 0px 14px;
}

.value {
    text-align: left;
    font-size: 50px;
    width: 83px;
    height: 65px;
    line-height: 30px;
    margin-left: 30px;
    margin-top: 3px;
}
input[type="range"] {
    margin-top: 20px;
    margin-bottom: 28px;
    display: block;
    -webkit-appearance: none;
    background-color: #bdc3c7;
    width: 300px;
    height: 5px;
    border-radius: 9px;
    outline: 0;
}
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-color: rgb(251,91,33);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid white;
    cursor: pointer;
    transition: .3s ease-in-out;
}​
 input[type="range"]::-webkit-slider-thumb:hover {
     background-color: white;
     border: 2px solid rgb(251,91,33);
 }
input[type="range"]::-webkit-slider-thumb:active {
    transform: scale(1.6);
}
.LF_desc{
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    margin-top: 6px;
    width: 320px;
}
.LF_desc p{
    font-family:myfont;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: rgb(255, 255, 255);
}

.Split{
    position: relative;
    display: flex;
    flex-direction: row
}

.Left1 h1{
    color: white;
    font-size: 50px;
    margin-top: 45px;

}
.left1_p {
    color: white;
    margin-top: 20px;
    font-size: 18px;
}

.Right{

    display: block;
    max-width: 500px;
    padding-bottom: 0px;
    margin-left: 150px;
    margin-top: 0px;
}
.Right h1{
    color: white;
    font-size: 34px;
    line-height: 48px;
    font-weight: 700;
    margin-top: 0px;
    padding: 0px;
    margin: 0.67em 0;
    display: block;
    margin-bottom: 20px;
}
.Right1{
    display: flex;
//border: white 2px solid;
    width: 425px;
    flex-flow: column;
}



.LW{
    display: none;
    width: 1em;
    height: 1em;
    opacity: 0;
    overflow: visible;
    outline: none;
    background-color: initial;
    cursor: default;
    appearance: auto;

}
.span1{
    -webkit-box-pack: center;
    justify-content: center;
    display: flex;
    flex: 1 1 0%;
    flex-flow: column;
    padding-right: 16px;
    width: 100%;

}
.span11{
    font-weight: 1000;
    font-size: 22px;
    line-height: 30px;
    margin-left: 10px;
    color: rgb(255, 255, 255);

}

.IMG1span{
    align-self: flex-start;
    margin-left: auto;
    margin-top: -14px;
    min-width: 120px;
    width: 120px;
}

.img-span1{
    box-sizing: border-box;
    display: inline-block;
    overflow: hidden;
    width: initial;
    height: initial;
    background: none;
    opacity: 1;
    border: 0px;
    margin: 0px;
    padding: 0px;
    position: relative;
    max-width: 100%;
}
.img-span1 span{
    box-sizing: border-box;
    display: block;
    width: initial;
    height: initial;
    background: none;
    opacity: 1;
    border: 0px;
    margin: 0px;
    padding: 0px;
    max-width: 100%;
}

.img-span1 span img{
    display: block;
    max-width: 100%;
    width: initial;
    height: initial;
    background: none;
    opacity: 1;
    border: 0px;
    margin: 0px;
    padding: 0px;
}
.range_text1{
    background-color: rgb(57, 57, 57);
    display: flex;
    height: 4px;
    position: relative;
    width: 94%;

}
.range_text1::before{
    background-color: rgb(251,91,33);
    content: "";
    height: 4px;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 17.0909%;

}

.range_text2{
    background-color: rgb(57, 57, 57);
    display: flex;
    height: 4px;
    position: relative;
    width: 94%;

}
.range_text2::before{
    background-color: rgb(251,91,33);
    content: "";
    height: 4px;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 25.6363%;

}

.range_text3{
    background-color: rgb(57, 57, 57);
    display: flex;
    height: 4px;
    position: relative;
    width: 94%;

}
.range_text3::before{
    background-color: rgb(251,91,33);
    content: "";
    height: 4px;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 34.1818%;

}

.range_text4{
    background-color: rgb(57, 57, 57);
    display: flex;
    height: 4px;
    position: relative;
    width: 94%;

}
.range_text4::before {
    background-color: rgb(251, 91, 33);
    content: "";
    height: 4px;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 42.7272%;
}

.range_text5{
    background-color: rgb(57, 57, 57);
    display: flex;
    height: 4px;
    position: relative;
    width: 94%;

}
.range_text5::before {
    background-color: rgb(251, 91, 33);
    content: "";
    height: 4px;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 51.2727%;
}

.range_text6{
    background-color: rgb(57, 57, 57);
    display: flex;
    height: 4px;
    position: relative;
    width: 94%;

}
.range_text6::before {
    background-color: rgb(251, 91, 33);
    content: "";
    height: 4px;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 59.8181%;
}

.range_text7{
    background-color: rgb(57, 57, 57);
    display: flex;
    height: 4px;
    position: relative;
    width: 94%;

}
.range_text7::before {
    background-color: rgb(251, 91, 33);
    content: "";
    height: 4px;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 68.3636%;
}

.range_text8{
    background-color: rgb(57, 57, 57);
    display: flex;
    height: 4px;
    position: relative;
    width: 94%;

}
.range_text8::before {
    background-color: rgb(251, 91, 33);
    content: "";
    height: 4px;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 76.9090%;
}

.range_text9{
    background-color: rgb(57, 57, 57);
    display: flex;
    height: 4px;
    position: relative;
    width: 94%;

}
.range_text9::before {
    background-color: rgb(251, 91, 33);
    content: "";
    height: 4px;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 85.4545%;
}

.range_text10{
    background-color: rgb(57, 57, 57);
    display: flex;
    height: 4px;
    position: relative;
    width: 94%;

}
.range_text10::before {
    background-color: rgb(251, 91, 33);
    content: "";
    height: 4px;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 93.999%;
}
.range_text11{
    background-color: rgb(57, 57, 57);
    display: flex;
    height: 4px;
    position: relative;
    width: 94%;

}
.range_text11::before {
    background-color: rgb(251, 91, 33);
    content: "";
    height: 4px;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 100%;
}

.Health_issues{
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
}
.HI_Con{
    align-items: flex-start;
    display: flex;
    padding: 0px 24px 88px;
    width: 100%;
}
.Con_HI{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 500px;
}
.HI_header{

}
.HI_header h1{
    font-family: myfont;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 40px;
    color: rgb(255, 255, 255);
}
.HI_Desc_Con{
    margin-bottom: 40px;
}
.HI_Desc p{
    font-size: 22px;
    line-height: 1.5;
    color: rgb(255,255,255);
}

.HI_List{
    list-style: none;
    margin-top: 12px;
}
.HI_List li{
    align-items: flex-start;
    display: flex;
    font-size: 22px;
    line-height: 26px;
    width: 100%;
    margin-bottom: 7px;
    color: white;
}
.HI_List li::before{
    background: rgb(255, 255, 255);
    border-radius: 50%;
    content: "";
    height: 5px;
    margin-top: 14px;
    margin-right: 6px;
    min-width: 4px;
    width: 4px;
}
.HI_Select{
    margin-bottom: 40px;
    width: 100%;
    display: flex;
    flex-flow: column;
}
.HI_Select_Con{
    display: flex;
    flex-flow: column;
}
.None{
    margin-bottom: 16px;
    width: 100%;
    align-items: flex-start;
    padding: 14px;
    -webkit-box-align: center;
    border: 2px solid transparent;
    display: inline-flex;
    background-color: rgb(30, 30, 30);
    cursor: pointer;
}
.None:hover{
    background-color: rgb(45,45,45);
}
.None_In{
    display: none;
    overflow: visible;
}
.Circle{
    height: 24px;
    min-width: 24px;
    width: 24px;
    overflow: hidden;
    vertical-align: middle;
}
.Circle use{
    background-image: linear-gradient(rgba(0,0,0,0) ,rgba(0,0,0,0)) ,url("icons/sprite.svg");
}

.None span{
    align-items: flex-start;
    color: rgb(255, 255, 255);
    display: flex;
    flex: 1 1 0%;
    flex-flow: column;
    padding-left: 8px;
    padding-right: 32px;
    width: 100%;
}
.None span span{
    font-weight: 600;
    line-height: 24px;
    font-size: 18px;
}



.mt-100 {
    margin-top: 50px;
    margin-left: 300px;
    width: 424px;
    margin-bottom: 20px;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: rgb(32,32,32);
    background-clip: border-box;
    border: 1px solid rgb(251,91,33);
    border-radius: 0
}

.card .card-body {
    padding: 1.25rem 1.75rem
}

.card-body {
    flex: 1 1 auto;
    padding: 1.25rem
}
.card-body div{
    padding-bottom: 18px;
}
.card-body div label{
    font-family: myfont;
    color: white;
}
.left_HI{
    padding-left: 40px;
}

@keyframes click-wave {
    0% {
        height: 40px;
        width: 40px;
        opacity: 0.15;
        position: relative
    }

    100% {
        height: 200px;
        width: 200px;
        margin-left: -80px;
        margin-top: -80px;
        opacity: 0
    }
}

.option-input {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    position: relative;
    top: 13.33333px;
    right: 0;
    bottom: 0;
    left: 0;
    height: 40px;
    width: 40px;
    transition: all 0.15s ease-out 0s;
    background: #cbd1d8;
    border: none;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    margin-right: 0.5rem;
    outline: none;
    position: relative;
    z-index: 1000
}

.option-input:hover {
    background: #9faab7
}

.option-input:checked {
    background: rgb(251,91,33);
}

.option-input:checked::before {
    height: 40px;
    width: 40px;
    position: absolute;
    content: "\f111";
    font-family: "Font Awesome 5 Free";
    display: inline-block;
    font-size: 26.66667px;
    text-align: center;
    line-height: 40px
}

.option-input:checked::after {
    -webkit-animation: click-wave 0.25s;
    -moz-animation: click-wave 0.25s;
    animation: click-wave 0.25s;
    background: rgb(251,91,33);
    content: '';
    display: block;
    position: relative;
    z-index: 100
}

.option-input.radio {
    border-radius: 50%
}

.option-input.radio::after {
    border-radius: 50%
}

.Issues_Found{
    margin-left: 300px;
    margin-top: 15px;
    display: flex;
    flex-flow: column;
    width: 424px;
}

.Issues_Found_Con{
    color: white;
    font-family: myfont;
    font-size: 15px;
    font-weight: 350;
    width: 400px;
}

.issues_text{
    margin-top: 5px;
    width: 400px;
    height: 100px;
}
.Name_text4{
    width: 401px;
    height: 100px;
    background-color: rgb(30, 30, 30);
    border: 1px solid rgb(117, 117, 117);
    color: rgb(255, 255, 255);
    font-size: 18px;
    line-height: 1.5;
    padding: 0px 11px;
    overflow: hidden;
    resize: none;
}
.Email{
    padding-top: 20px;
    min-height: 100vh;
    flex-flow: row nowrap;
    display: flex;

}
.E_container{
    align-items: flex-start;
    display: flex;
    padding: 0px 24px 80px;
    width: 100%;
}
.Con_Email{
    display: flex;
    flex-flow: row wrap;
    margin: 0px auto;
    width: 100%;
    max-width: 470px;
}
.Email_text{
    display: flex;
    flex-flow: column;
    margin-bottom: 40px;
    width: 100%;
}
.Email_text h1{
    font-size: 38px;
    line-height: 48px;
    font-family: myfont;
    font-style: normal;
    font-weight: 700;
    color: rgb(255, 255, 255);
}
.Email_text p{
    margin-bottom: 16px;
    margin-top: 16px;
    font-family: myfont;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: rgb(255, 255, 255);
}
.EM_PAS_input{
    margin-bottom: 40px;
    width: 100%;
    display: flex;
    flex-flow: column;
}
.email_in{
    display: flex;
    flex-flow: column;
    opacity: 1;
    width: 100%;
}
.em_in_text{
    color: rgb(255, 255, 255);
    display: flex;
    font-size: 18px;
    line-height: 1.5;
    font-family: myfont;
    margin-bottom: 3px;
}
.em_in_data{
    display: flex;
    flex-flow: column;
    position: relative;
    width: 100%;
}

.Input_EM{
    background-color: rgb(30, 30, 30);
    border: 1px solid rgb(117, 117, 117);
    color: rgb(255, 255, 255);
    font-size: 18px;
    line-height: 1.5;
    padding: 0px 11px;
    height: 56px;

}
.EX_in{
    color: rgb(117, 117, 117);
    font-size: 18px;
    line-height: 1.5;
    left: 12px;
    position: absolute;
    top: 15px;
    cursor: text;
    pointer-events: none;
}
.Continue_E1{
    width: 175px;
    display: inline-flex;
    box-sizing: border-box;
    cursor: pointer;
    outline: none;
    border: none;
    padding: 15px;
    -webkit-box-align: center;
    align-items: center;
    background: rgb(251,91,33);
    margin-left: 294px;
}
.Continue_E1:hover{
    background: #d35a21;
}
.Continue_E1 p{
    font-family: myfont;
    font-style: normal;
    font-weight: 600;
    font-size: 19px;
    line-height: 24px;
    color: rgb(255, 255, 255);
    width: 100%;
    text-align: center;

}

.Range_fat{
    -webkit-box-align: center;
    align-items: center;
    height: 400px;
    padding: 60px;
    width: 500px;
    margin-left: 50px;
    margin-bottom: 50px;
}
.R_F_Con{

    margin-right: 100px;
    -webkit-box-pack: center;
    justify-content: center;
    max-width: 470px;
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    padding: 0px;
    margin-top: 90px;
    margin-left: -25px;
}
.R_F_text{
    display: flex;
    flex-flow: column;
    margin-bottom: 40px;
    width: 100%;

}
.R_F_text h1{
    font-size: 36px;
    line-height: 48px;
    font-family: myfont;
    font-style: normal;
    margin-left: 30px;
    font-weight: 700;
    color: rgb(255, 255, 255);
}

.R_F_range{
    margin-bottom: 40px;
    width: 100%;
    display: flex;
    flex-flow: column;
}

.R_F_range_Con{
    display: flex;
    flex-direction: column;
    position: relative;
    background: transparent;
    width: 100%;
    padding: 0px 14px;
}

#form-wrapper {
    justify-content: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: "Nunito", sans-serif;
}

.formo {
    width: 90%;
    max-width: 500px;
}
.formo #form-title {
    margin-top: 0;
    font-weight: 400;
    text-align: center;
}
.formo #debt-amount-slider {
    display: flex;
    flex-direction: row;
    align-content: stretch;
    position: relative;
    width: 100%;
    height: 50px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.formo #debt-amount-slider::before {
    content: " ";
    position: absolute;
    height: 2px;
    width: 100%;
    width: calc(100% * (7 / 8));
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgb(251,91,33);
}
.formo #debt-amount-slider input, form #debt-amount-slider label {
    box-sizing: border-box;
    flex: 1;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
}
.formo #debt-amount-slider label {
    display: inline-block;
    position: relative;
    width: 20%;
    height: 100%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.formo #debt-amount-slider label::before {
    content: attr(data-debt-amount);
    position: absolute;
    left: 50%;
    padding-top: 10px;
    transform: translate(-50%, 45px);
    font-size: 14px;
    letter-spacing: 0.4px;
    font-weight: 400;
    white-space: nowrap;
    opacity: 0.85;
    transition: all 0.15s ease-in-out;
}
.formo #debt-amount-slider label::after {
    content: " ";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 30px;
    height: 30px;
    border: 2px solid #000;
    background: #fff;
    border-radius: 50%;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    z-index: 1;
    cursor: pointer;
    transition: all 0.15s ease-in-out;
}
.formo #debt-amount-slider label:hover::after {
    transform: translate(-50%, -50%) scale(1.25);
}
.formo #debt-amount-slider input {
    display: none;
}
.formo #debt-amount-slider input:checked + label::before {
    font-weight: 800;
    opacity: 1;
}
.formo #debt-amount-slider input:checked + label::after {
    border-width: 4px;
    transform: translate(-50%, -50%) scale(0.75);
}
.formo #debt-amount-slider input:checked ~ #debt-amount-pos {
    opacity: 1;
}
.formo #debt-amount-slider input:checked:nth-child(1) ~ #debt-amount-pos {
    left: 6.2%;
}
.formo #debt-amount-slider input:checked:nth-child(3) ~ #debt-amount-pos {
    left: 18.7%;
}
.formo #debt-amount-slider input:checked:nth-child(5) ~ #debt-amount-pos {
    left: 31.3%;
}
.formo #debt-amount-slider input:checked:nth-child(7) ~ #debt-amount-pos {
    left: 43.75%;
}
.formo #debt-amount-slider input:checked:nth-child(9) ~ #debt-amount-pos {
    left: 56.25%;
}
.formo #debt-amount-slider input:checked:nth-child(11) ~ #debt-amount-pos {
    left: 68.75%;
}
.formo #debt-amount-slider input:checked:nth-child(13) ~ #debt-amount-pos {
    left: 81.25%;
}
.formo #debt-amount-slider input:checked:nth-child(15) ~ #debt-amount-pos {
    left: 93.75%;
}
.formo #debt-amount-slider #debt-amount-pos {
    display: block;
    position: absolute;
    top: 50%;
    width: 12px;
    height: 12px;
    background: rgb(251,91,33);
    border-radius: 50%;
    transition: all 0.15s ease-in-out;
    transform: translate(-50%, -50%);
    border: 2px solid #fff;
    opacity: 0;
    z-index: 2;
}
.formo:valid #debt-amount-slider input + label::before {
    transform: translate(-50%, 45px) scale(0.9);
    transition: all 0.15s linear;
}
.formo:valid #debt-amount-slider input:checked + label::before {
    transform: translate(-50%, 45px) scale(1.1);
    transition: all 0.15s linear;
}
.formo + button {
    display: block;
    position: relative;
    margin: 56px auto 0;
    padding: 10px 20px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    transition: all 0.15s ease-in-out;
    font-family: inherit;
    font-size: 24px;
    font-weight: 600;
    background: #fff;
    border: 2px solid #000;
    border-radius: 8px;
    outline: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
}
.formo + button:hover {
    background: #000;
    color: #fff;
}
.formo + button:hover:active {
    transform: scale(0.9);
}
.formo + button:focus {
    background: #4caf50;
    border-color: #4caf50;
    color: #fff;
    pointer-events: none;
}
.formo + button:focus::before {
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
}
.formo + button::before {
    display: inline-block;
    width: 0;
    opacity: 0;
    content: "";
    font-family: "Font Awesome 5 Pro";
    font-weight: 900;
    margin-right: 0;
    transform: rotate(0deg);
}
.formo:invalid + button {
    pointer-events: none;
    opacity: 0.25;
}

@-webkit-keyframes spin {
    from {
        transform: rotate(0deg);
        width: 24px;
        opacity: 1;
        margin-right: 12px;
    }
    to {
        transform: rotate(360deg);
        width: 24px;
        opacity: 1;
        margin-right: 12px;
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
        width: 24px;
        opacity: 1;
        margin-right: 12px;
    }
    to {
        transform: rotate(360deg);
        width: 24px;
        opacity: 1;
        margin-right: 12px;
    }
}

.Continue_F1{
    width: 142px;
    display: inline-flex;
    box-sizing: border-box;
    cursor: pointer;
    text-align: center;
   font-size: 20px;
    border-radius:30px ;
    text-align: center;
    padding: 15px;
    background: rgb(251,91,33);
    margin-left: 294px;
    transition: 0.5s;
}
.Continue_F1:hover{
    background: #9b4211;
}
.Continue_F1 p{
    font-family: myfont;
    font-style: normal;
    font-weight: 600;
    font-size: 19px;
    line-height: 24px;
    color: rgb(255, 255, 255);
    width: 100%;
    text-align: center;

}
.Fat_image{


    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    width: 100%;
}
.SPAN_Fat {
    align-self: flex-start;
    width: 250px;
}
.Fat_IM{
    box-sizing: border-box;
    display: inline-block;
    overflow: hidden;
    width: initial;
    height: initial;
    background: none;
    opacity: 1;
    border: 0px;
    margin-left: -40px;
    padding: 0px;
    position: relative;
    max-width: 100%;
}

.visible{
    display: block;
}
.hide{
    display: none;
}

.verify{
    padding-top: 20px;
    min-height: 100vh;
    flex-flow: row nowrap;
    display: flex;
}

.container{
    margin-left: 700px;
}

.speratorboy{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 3px;
    height: 1200px;
    background: #333;
    transform: rotate(90deg);
}
.speratorboy:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 60%;
    height: 100%;
    background: linear-gradient(transparent,rgb(231,91,33),transparent);
    animation:  animate 5s linear infinite;
}
.speratorboy1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 3px;
    height: 1200px;
    background: #333;
    transform: rotate(90deg);
}
.speratorboy1:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 60%;
    height: 100%;
    background: linear-gradient(transparent,rgb(231,91,33),transparent);
    animation:  animate 5s linear infinite;
}
@keyframes animate {
    0%{
        transform-origin: top;
        transform: scaleY(0);
    }
    50%{
        transform-origin: top;
        transform: scaleY(1);
    }
    51%{
        transform-origin: bottom;
        transform: scaleY(1);
    }
    51%{
        transform-origin: bottom;
        transform: scaleY(0);
    }
}

@keyframes Anim1{
    from{
        width: 0px;
    }
    to{
        width: 1220px;
    }

}
/*for the Scroll bar styles
 */

/* width */
::-webkit-scrollbar {
    width: 6px;
    opacity: 0.2;
}
/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(251,91,33);
    border-radius: 10px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(140, 63, 36);
}
.parent{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

























